html {
  background-color: black;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  text-decoration: none;
  color: white;
  padding: 0px;
  font-family: 'Oxanium', sans-serif;
  padding: 0px;
  margin: 1%;
}

@font-face {
  font-family: 'Oxanium';
  src: url('/fonts/Oxanium-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  src: url('/fonts/Exo-Light.ttf') format('truetype');
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}