.vertical-nav {
    list-style: none; /* Remove bullet points */
    padding: 0;       /* Remove default padding */
    margin: 0;        /* Remove default margin */
    margin-left: 2vw; /* Add space to the left */
    width: 200px;     /* Set a fixed width for the nav */
}

.nav-link {
    display: block;             /* Make the links fill the container */
    text-decoration: none;      /* Remove underline */
    padding: 10px 15px;         /* Spacing */
    color: white;
    font-family: 'Exo', sans-serif; /* Font style */
    font-size: larger;           /* Font weight */
}

a:hover {
    color: #888888
}

li {
    display: block;
}

@font-face {
    font-family: 'Exo';
    src: url('/fonts/Exo-Light.ttf') format('truetype');
}