html {
    background-color: #111111;
}
  
body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}
  
h1 {
    font-size: 4rem;
    text-decoration: none;
    color: white;
    padding: 0px;
    font-family: 'Oxanium', sans-serif;
    font-weight: 300;
    margin: 1.2%;
    margin-left: 2.5vw;
    margin-bottom: 0;
}
  
p {
    font-family: 'Oxanium', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin-left: 2vw;
}
  
@font-face {
    font-family: 'Oxanium';
    src: url('/fonts/Oxanium-VariableFont_wght.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Exo';
    src: url('/fonts/Exo-Light.ttf') format('truetype');
}
  
@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}