---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTite="Landing Page | Sid's Corner" title="Hi. I'm Sid.">
	<p>I'm a university student looking who just wants to build cool things.</p>
</BaseLayout>

<style>
	p {
		text-align: center;
		color: white;
	}
</style>
	