---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTite="Landing Page | Sid's Corner" title="Hi. I'm Sid.">
	<p>Welcome to my landing page.</p>
	<p>Feel free to explore the site!</p>
</BaseLayout>
	