---
const title = 'Sid\'s Corner';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home | {title}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>Hi. I'm Sid</h1>
		<h2>I'm a Computer Science student at Purdue University.</h2>
		<p>
			While you are here, why not take some time to get to know me better.
		</p>
		
	</body>
</html>
