---
import BaseLayout from '../layouts/BaseLayout.astro';
const subtitle = "Hi, I'm Sid!";
---
<BaseLayout>
	<h1>{subtitle}</h1>
	<p>Welcome to my landing page.</p>
	<p>Feel free to explore the site!</p>
</BaseLayout>
	