---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sphere from "../components/Sphere.astro";
---

<BaseLayout title="Sid Sancheti">
    <p>
        Hi! I am Sid Sancheti. I am a student at Purdue University studying Computer Science.
        I dabble in all things CS related from data science to AI, from cyber security to computer graphics.
        Reach me through my many socials.
    </p>
</BaseLayout>

<style>
    p {
        font-family: 'Oxanium', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        color: white;
        margin-left: 2vw;
    }
</style>