---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Landing Page | Sid Sancheti">
    <h1>Welcome to my Astro site!</h1>
    <p>This is the landing page.</p>
</BaseLayout>

<style>
    p {
        font-family: 'Exo', sans-serif;
        font-size: 1.5em;
        color: white;
        margin-left: 1vw;
    }
</style>