---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../styles/global.css';
---

<BaseLayout title="Sid Sancheti">
    <main>
        <p>
            Hi! I am Sid Sancheti. I am a student at Purdue University studying Computer Science.
            I dabble in all things CS related from data science to AI, from cyber security to computer graphics.
            Reach me through my many socials.
        </p>
    </main>
</BaseLayout>