---
import '../styles/global.css';
---

<!-- Make this a react module. -->
 
<ul class="dot-separated-list">
    <li>© Sid Sancheti 2025</li>
    <li>Built using <a href="https://astro.build/">Astro</a></li>
    <li>Inspiration drawn from <a href="https://p5aholic.me/">Keita Yamada</a></li>
</ul>

<style>
    .dot-separated-list {
        list-style: none; /* Remove default bullets */
        margin-left: 1.5vw;
        margin-top: 0;
        padding: 0;
        display: flex; /* Arrange list items horizontally */
        gap: 10px; /* Add spacing between items */
        color: #dddddd
    }

    .dot-separated-list li {
        font-family: 'Exo', sans-serif;
        font-size: 0.8em;
    }

    .dot-separated-list li:not(:last-child)::after {
        content: "•"; /* Dot as separator */
        margin-left: 10px; /* Space before the dot */
    }

    a {
        color: #dddddd;
    }

</style>