---
import '../styles/global.css';
---
<h3>Powered by <a href="https://astro.build">Astro</a></h3>

<style>
    a {
        color: #666666;
    }

    h3 {
        color: #666666;
        margin-top: 0.5vh;
        margin-left: 1.5vw;
        font-family: 'Exo', sans-serif;
        font-size: 0.8em;
    }
</style>