---
import '../styles/global.css';
---

<!-- Make this a react module. -->
 
<ul class="dot-separated-list" transition:persist>
    <li>© Sid Sancheti 2025</li>
    <li>Built using <a href="https://astro.build/" target="_blank">Astro</a></li>
    <li>Inspiration drawn from <a href="https://p5aholic.me/" target="_blank">Keita Yamada</a></li>
</ul>

<style>
    .dot-separated-list {
        list-style: none; /* Remove default bullets */
        margin-left: 1.5vw;
        padding: 0;
        display: flex; /* Arrange list items horizontally */
        gap: 10px; /* Add spacing between items */
    }

    .dot-separated-list li {
        color: #dddddd;
        font-family: 'Exo', sans-serif;
        font-size: 0.8em;
        position: relative; /* Enable pseudo-element positioning */
    }

    .dot-separated-list li:not(:last-child)::after {
        content: "•"; /* Dot as separator */
        margin-left: 10px; /* Space before the dot */
        color: #dddddd; /* Adjust color if needed */
    }

    a {
        color: #dddddd;
    }

</style>