---
---
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/media/">Media</a>
    <a href="/notes/">Notes</a>
  </nav>
</header>

<style>
  header {
    text-align: center;
    margin-top: 15px
  }

  a {
    text-decoration: none;
    margin: 8px;
    color: white;
  }
</style>