---

---
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/blog/">Blog</a>
    <a href="/media/">Media</a>
    <a href="/notes/">Notes</a>
  </nav>
</header>

<style>
  a {
    text-decoration: none;
    margin: 8px;
    color: white;
    font-family: 'Oxanium', sans-serif;
  }
</style>