---

---
<header>
  <nav>
    <a href="/">Home</a>
  </nav>
</header>

<style>
  header {
    margin-left: 1vw;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-family: 'Exo', sans-serif;
    padding: 5px;
  }
</style>