---
---
<!-- This is where we need to adjust in order to center the sphere can trim scope. -->
<div id="webgl-container">
  <canvas id="webgl-canvas"></canvas>
</div>
<body onload="InitSphere();">
    <canvas id="sphere" width="800" height="800">
        Your browser does not support HTML5
    </canvas>
    <br />
    <i>Demo is above this text</i>
    <script>
        import { InitSphere } from '../scripts/sphere.js';
        InitSphere();
    </script>
</body>