---
---
<!-- This is where we need to adjust in order to center the sphere can trim scope. -->
<!-- IMPORTANT: Make this a react module. -->
<body onload="InitSphere();">
    <canvas id="sphere"></canvas>
    <script>
        import { InitSphere } from '../scripts/sphere.js';
        InitSphere();
    </script>
</body>

<style>
    /* Center the sphere canvas */
    canvas {
        position: absolute;
        top: 59%;
        left: 78%;
    }
</style>