---
---
<!-- This is where we need to adjust in order to center the sphere can trim scope. -->
<body onload="InitSphere();">
    <canvas id="sphere">
        Your browser does not support HTML5
    </canvas>
    <br />
    <i>Demo is above this text</i>
    <script>
        import { InitSphere } from '../scripts/sphere.js';
        InitSphere();
    </script>
</body>

<style>
    /* Center the sphere canvas */
    canvas {
        position: absolute;
        top: 60%;
        left: 75%;
    }
</style>