---
import Navigation from '../components/Navigation.astro';

import '../styles/global.css';
// import '@fontsource/oxanium/200.css';
const name = 'Sid Sancheti';
const {title} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="rectangle">
      <h1>{name}</h1>
      <Navigation />
    </div>
  </body>
</html>

<style>
  html {
    background-color: black
  }

  h1 {
    font-family: 'Oxanium', sans-serif;
    padding: 0px;
    margin: 1%;
  }

  hr {
    border: 1px solid white;
  }

  body {
    margin: 0px;
    padding: 0px;
  }
  .rectangle {
    width: 94vw;  
    height: 94vh;
    margin-left: 3vw;
    margin-top: 2vh;
    border: 2px solid white;
  }

  @font-face {
    font-family: 'Oxanium';
    src: url('/fonts/Oxanium-ExtraLight.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Exo';
    src: url('/fonts/Exo-Light.ttf') format('truetype');
  }

  @media (max-width: 600px) {
    .rectangle {
      height: 90vh;
      margin-top: 3.5vh;
    }
    
    h1 {
      margin: 3%;
    }
  }
</style>