---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const name = 'Sid Sancheti';
const {title} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="rectangle">
      <h1>{name}</h1>
      <Navigation />
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  

  .rectangle {
    width: 97vw;  
    height: 90vh;
    margin-left: 1vw;
    margin-top: 2vh;
    border: 2px solid white;
  }



  @media (max-width: 600px) {
    .rectangle {
      height: 90vh;
      margin-top: 3.5vh;
    }
  }
</style>