---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const name = 'Sid Sancheti';
const {title, pageTitle, description} = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="rectangle">
      <h2>Demonstrating the Box Model</h2>
      
      <p>Here is an example of box model</p>
      
      <div>You can easily create such type of box simply implementing this code for your website or webpage.</div>
    </div>
  </body>
</html>

<style>
  html {
    background-color: tan
  }
  .rectangle {
    border: 1px solid black;
    margin: 5px;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
  }

  h1 {
    font-size: 3rem;
    font-family: Blippo, fantasy;
  }

  h2 {
    font-family: Blippo, fantasy;
    margin: 20px
  }
</style>