---
import AppRouter from '../components/Router.jsx';
import Footer from '../components/Footer.astro';
import Sphere from '../components/Sphere.astro';
import Title from '../components/Title.astro';
import Navigation from '../components/Navigation.astro';
const {title} = Astro.props;
---
<!-- 
I have a feeling that condensing all the components into one file will make it load quicker.

It doesn't really make a difference
I need to make the sphere a React component
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Comment out the line below if you are pulling this code. -->
    <link rel="icon" type="image/png" href="/SS.jpg">
  </head>
  <body>
    <div class="rectangle">
      <Title />
      <Navigation />
      <!-- <AppRouter client:only="react"/> -->
      <slot />
    </div>
    <Sphere/>
    <Footer />
  </body>
</html>

<style>
  .rectangle {
    width: 97vw;  
    height: 92vh;
    margin-left: 1vw;
    margin-top: 2vh;
    border: 2px solid white;
  }

</style>